<?xml version='1.0' encoding='UTF-8'?>
<com.groupon.jenkins.SetupConfig plugin="DotCi@2.5">
  <dbHost>localhost</dbHost>
  <dbPort>27017</dbPort>
  <dbName>dotci</dbName>
  <label></label>
  <fromEmailAddress>ci@example.com</fromEmailAddress>
  <defaultBuildType>com.groupon.jenkins.buildtype.dockerfile.DockerfileBuild</defaultBuildType>
  <privateRepoSupport>false</privateRepoSupport>
  <githubApiUrl>https://api.github.com/</githubApiUrl>
  <githubWebUrl>https://github.com/</githubWebUrl>
  <githubClientID>{{ github_client_id }}</githubClientID>
  <githubClientSecret>{{ github_secret }}</githubClientSecret>
  <githubCallbackUrl>https://{{ ansible_ssh_host }}/githook/</githubCallbackUrl>
</com.groupon.jenkins.SetupConfig>
