<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.bugzilla.BugzillaProjectProperty_-DescriptorImpl plugin="bugzilla@1.5">
  <bugzillaSession>
    <url>https://bugzilla.mozilla.org</url>
  </bugzillaSession>
  <regex>\b[0-9.]*[0-9]\b</regex>
  <useTooltips>false</useTooltips>
</hudson.plugins.bugzilla.BugzillaProjectProperty_-DescriptorImpl>
